

<div class="sidebar">
  <div class="logo-details">
    <i class="bx "></i>
    <span class="logo_name">
      Employee MIS</span>
  </div>
  <ul class="nav-links">
    <li>
      <a th:href="@{/adminDash}" class="active">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Admin Dashboard</span>
      </a>
    </li>
    <li>
      <a th:href="@{/adminBranch}">
        <i class="bx bx-box"></i>
        <span class="links_name">Blanches</span>
      </a>
    </li>
    <li>
      <a th:href="@{/adminDepartment}">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Departments</span>
      </a>
    </li>
    <li>
      <a th:href="@{/adminPayroll}">
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="links_name">Payments</span>
      </a>
    </li>
    <li>
      <a th:href="@{/adminEmployee}">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">Employees</span>
      </a>
    </li>
    <li>
      <a th:href="@{/adminTask}">
        <i class="bx bx-book-alt"></i>
        <span class="links_name">Tasks</span>
      </a>
    </li>
    <li>
      <a th:href="@{/adminRole}">
        <i class="bx bx-user"></i>
        <span class="links_name">Employee Roles</span>
      </a>
    </li>

    <li>
      <a th:href="@{employeePerBranch}">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Employee / Branch</span>
      </a>
    </li>
    <li>
      <a th:href="@{/employeePertTask}">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Employee / Task</span>
      </a>
    </li>

    <li>
      <a th:href="@{/employeeDepartment}">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Employee / Department</span>
      </a>
    </li>

    <li>
      <a th:href="@{/EmployeePerRole}">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Employee / Role</span>
      </a>
    </li>

    <li class="log_out">
      <a th:href="@{/loginAdmin}">
        <i class="bx bx-log-out"></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>