<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Dashboard</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/pages/navBar"></th:block>

<div class="container text-center">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mx-auto" href="#">
      <img src="Reg image.png" alt="Logo Image"> <br>
    </a>

  </nav>

  <h2>Payment List</h2>
</div>

<div class="container">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>Payroll ID</th>
      <th>Period</th>
      <th>Pay Date</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="payroll:${payrolls}">
      <td th:text="${payroll.payrollId}"></td>
      <td th:text="${payroll.payPeriod}"></td>
      <td th:text="${payroll.payDate}"></td>
      <td th:text="${payroll.amount}"></td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
